:root {
    --c-border: #737373;
    --c-title: #D3573C;
    --c-main: #901C1C;
    --c-main-hover: #DB8876;
    --c-caption: #525252;
    --c-detail: #757575;
    --c-details-background: #FAFAFA;
}

body {
    font-family: 'DM Sans', sans-serif;
}