:root {
	--c-border: #737373;
	--c-title: #d3573c;
	--c-main: #901c1c;
	--c-main-hover: #ad3e3e;
	--c-main-light: #db8876;
	--c-caption: #525252;
	--c-detail: #757575;
	--c-details-background: #fafafa;
}

body {
	font-family: 'DM Sans', sans-serif;
}
